type project
title
    Solve
owners
    Qrtic
authors 
    Qrtic
projectUrl
    https://github.com/Qrtic/Solve
iconUrl
    https://raw.githubusercontent.com/Qrtic/Solve/master/docs/files/img/logo.png
licenseUrl
    https://github.com/Qrtic/Solve/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2019
tags
    prolog
summary
    Prolog F# implementation
description
    Library for Prolog emulation
